html {
	font-size: 62.5%;
}
body {
	background-color: #edeff1;
	text-align: center;
	font-family: RobotoSlab;
}
.wrapper {
	width: 1256px;
	margin: 0 auto;
	overflow: hidden;
}
a {
	text-decoration: none;
}
h2,
.news h1,
.newsletter h1 {
	font-size: 3rem;
	font-weight: 700;
	padding: 29px 0 10px;
}
.button {
	display: inline-block;
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 27px;
	padding: 19px 60px 21px 63px;
	font-size: 18px;
	font-weight: 400;
}
/*============================header============================*/
.main  {
	text-align: left;
}
header.main h1 {
	color: #31353e;
	font-size: 3.6rem;
	font-weight: 700;
	
}
.logo {
	color: #dd4b2b;
	font-size: 1.6rem;
	font-weight: 400;
	overflow: hidden;
	display: inline-block;
	padding: 49px 0 44px 42px;
	text-align: center;
}
nav {
	padding-top: 51px;
	float: right;
}
nav li{
	display: inline-block;
	
}
nav a {
	color:#43464f;
	font-size: 1.8rem;
	font-weight: 400;
	padding: 18px 22px;
	display: inline-block;
	
}
nav li .active,
nav a:hover {
	background-color: #dd4b2b;
	border-radius: 25px;
	color: #edeff1;
	}
/*============================content============================*/
section.content {
	background: url('../img/backsection1.jpg') center  no-repeat;
	background-size: cover;
	color: white;
}
section.content {
	padding-bottom: 138px;
}
section.content h1 {
	font-size: 7.2rem;
	font-weight: 300;
	padding-top: 489px;
}
.head {
	padding-top: 7px;
	font-size: 3rem;
	font-weight: 700;
}
main {
	padding: 122px 36px 79px;
	overflow: hidden;
}
main article {
	width: 33.3333%;
	float: left;
	font-size: 1.5rem;
	font-weight: 300;
	line-height: 30px;
	box-sizing: border-box;
	padding: 0 36px;
}
.content .button {
	background-color: white;
	color: #612316;
}
.content .button:hover {
	background-color: #dd4b2b;
	color: white;
}
/*============================news============================*/
.news {
	color: #31353e;
}
.news h1 {
	padding: 82px 0 84px;
}
.news article {
	width: 33.3333%;
	float: left;
	padding: 0 15px;
	box-sizing: border-box;
}
.news .news-block {
	padding: 0 15px 125px;
	overflow:hidden;
}
.news h2 {
	font-size: 2.4rem;
	font-weight: 700;
	padding-top: 39px;
	line-height: 30px;
}
.news p {
	padding: 0 42px 0 41px;
	line-height: 30px;
}
.news .button {
	background-color: white;
	color: #4e5159;
	font-size: 1.5rem;
	font-weight: 300;
	margin-top: 60px;
}
.news .button:hover {
	background-color: #dd4b2b;
	color: white;
}
/*============================Newsletter============================*/
.newsletter {
	background: url('../img/backnewsletter.jpg') center  no-repeat;
	background-size: cover;
	color: white;
	padding: 91px 0 113px;
}
.newsletter h1 {
	padding-top: 10px;
}
.newsletter p {
	font-size: 1.5rem;
	font-weight: 300;
	line-height: 24px;
	width: 43%;
	margin: 0 auto;
}
.newsletter form {
	padding-top: 43px;
	position: relative;
	display: inline-block;
	width: 41%;
}
.newsletter form a {
	background-color: #fff;
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 27px;
	color: #612316;
	font-size: 1.8rem;
	font-weight: 400;
	padding: 19px 73px 17px 78px;
	position: absolute;
	right: 0px;
	bottom: 1px;
}
form a:hover {
	background-color: #dd4b2b;
	color: white;
}
.newsletter input {
	width: 92%;
	background-color: rgba(255, 255, 255, 0.2);
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 26px;
	padding: 19px 0px 21px 36px;
}
/*============================product============================*/
.product {
	padding: 65px 0 87px;
	overflow: hidden;
	background-color: white;
}
.product article{
	overflow: hidden;
}
.product article:nth-child(even){
	padding-top: 52px;
}
.product .text-product {
	float: left;
	width: 49.6%;
	text-align: left;
	color: #191b29;
	font-size: 1.6rem;
	font-weight: 300;
	line-height: 30px;
	padding: 0 45px 0 0;
}
.product img {
	width: 46.8%;
	overflow: hidden;
}
.product article img:nth-child(even) {
	overflow: hidden;
}
.product article:nth-child(even) .text-product {
	float: right;
	padding: 0 0 0 45px;
}
.product article p {
	padding-bottom: 45px;
}
.product .button {
	background-color: #dd4b2b;
	color: white;
	padding: 19px 71px 17px 78px;	
}
.product .button:hover {
	background-color: #4b4e73;
	color: white;
}
/*============================menu============================*/
.menu {
	background-color: #d75d0e;
	padding: 98px 0 84px;
}
.menu a {
	color: white;
}
.menu ul {
	float: left;
	width: 33.3333%;
}
.menu li {
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 36px;
}
/*============================footer============================*/
footer {
	background: url('../img/backfooter.jpg') center  no-repeat;
	background-size: cover;
	color: white;
	font-size: 1.8rem;
	line-height: 24px;
}
footer .wrapper {
	padding: 91px 0 243px;
	width: 666px;
}
footer a {
	color: white;
	font-weight: 700;
}